{% extends "pages/base.html" %}
{% block content %}

<div class="col-lg-9">
		<div class="card mt-4">
			<div class="card-body">
      <h1>Modify your Blabla Post</h1> 
			</div></div></div>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      <div class="col-lg-9">
            <br><br><br><br>
            <div class="card mt-4">

      <form action = "{{ request.path }}" method = "post">
         <label for = "title">Title</label><br>
         <input size="82" type = "text" name = "title" value="{{ post.title }}" /><br>
        
         <label for = "content">Content</label><br>
         <textarea rows="10" cols="80" name = "content">{{ post.content }}</textarea><br>

         <input type = "submit" value = "Submit" />
        </form>
    </div></div>
{% endblock %}