{% extends "pages/base.html" %}

{% block content %} 
<div class="col-lg-9">
		<a href="{{ url_for('new_jobs') }}" type="button" class="btn btn-success">Update database</a>
		<div class="card mt-4">
			<div class="card-body">
				<!-- TODO find something cleaner than a triple br-->
				<h1>Blog Articles</h1>
			</div>
				</div>
				<br>
				<div class="col-lg-9">
								<div class="card card-outline-secondary my-4">
									<div class="card-header">
										All Jobs
									</div>
									<div class="card-body">
												{% for job in jobs %}
												
												#{{ job.id }} - {{ job.title|lower }}
												<p>{{ job.contract_type }}</p>
												<p>{{ job.place }}</p>
										<small class="text-muted">Posted {% if job.society_name %} by{{ job.society_name }} {% endif %}on {{ job.publication_date }}</small>
										<hr>
										{% endfor %}

									</div>
								</div>
								<!-- /.card -->
			
							</div>
							<!-- /.col-lg-9 -->
			
						</div>


{% endblock %}